In [1]:
import pandas as pd
import numpy as np
import pickle
import os
import matplotlib.pyplot as plt

In [3]:
chicago_census = pd.read_csv("D:\Python\data\chicago_census.csv")

In [4]:
chicago_census.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [6]:
chicago_census.rename(columns={'Community Area Number': 'community_number',
                               'COMMUNITY AREA NAME': 'community_area' , 
                               'PERCENT OF HOUSING CROWDED': 'percent_house_crowded', 
                               'PERCENT HOUSEHOLDS BELOW POVERTY': 'percent_house_below_poverty', 
                               'PERCENT AGED 16+ UNEMPLOYED': 'percent_16_unemployed' , 
                               'PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA': 'percent_25_without_diploma', 
                               'PERCENT AGED UNDER 18 OR OVER 64': 'percent_dependent', 
                               'PER CAPITA INCOME ' : 'per_capita_income',
                               'HARDSHIP INDEX': 'hardship_index'}, inplace=True)

In [10]:
chicago_census.columns

Index(['community_number', 'community_area', 'percent_house_crowded',
       'percent_house_below_poverty', 'percent_16_unemployed',
       'percent_25_without_diploma', 'percent_dependent', 'per_capita_income',
       'hardship_index'],
      dtype='object')

In [ ]:
chicago_census = chicago_census.drop(chicago_census[['community_number', 'community_area']], axis = 1)

In [17]:
chicago_census.isnull().sum()

percent_house_crowded          0
percent_house_below_poverty    0
percent_16_unemployed          0
percent_25_without_diploma     0
percent_dependent              0
per_capita_income              0
hardship_index                 1
dtype: int64

In [18]:
chicago_census['hardship_index'] = chicago_census['hardship_index'].fillna(chicago_census['hardship_index'].mean())

In [19]:
chicago_census.isnull().sum()

percent_house_crowded          0
percent_house_below_poverty    0
percent_16_unemployed          0
percent_25_without_diploma     0
percent_dependent              0
per_capita_income              0
hardship_index                 0
dtype: int64

In [25]:
# Define per_capita_income mean.
mean_per_capita_income = chicago_census['per_capita_income'].mean()
chicago_census['per_capita_income'] = np.where(chicago_census['per_capita_income'] < mean_per_capita_income, 0, 1)
ex_viz = chicago_census

In [26]:
# Creating Pickle for cleaned data frame

pickle.dump(ex_viz, open("ex_viz.sav","wb" ))

In [27]:
# Group data by `per_capita_income` variable.

ex_grouped = ex_viz.groupby('per_capita_income')

In [29]:
# Compute mean on the listed variables using the grouped data.

ex_grouped_mean = ex_grouped.mean()[['percent_house_crowded','percent_house_below_poverty','percent_16_unemployed','percent_25_without_diploma','percent_dependent','hardship_index']]
ex_grouped_mean

,percent_house_crowded,percent_house_below_poverty,percent_16_unemployed,percent_25_without_diploma,percent_dependent,hardship_index
per_capita_income,,,,,,
0,6.288000,26.780000,18.810000,26.092000,38.834000,66.640000
1,2.478571,12.739286,9.146429,10.042857,30.153571,18.910946

In [30]:
ex_grouped_mean = ex_grouped.mean().reset_index()
ex_grouped_mean #wide range

,per_capita_income,percent_house_crowded,percent_house_below_poverty,percent_16_unemployed,percent_25_without_diploma,percent_dependent,hardship_index
0,0,6.288000,26.780000,18.810000,26.092000,38.834000,66.640000
1,1,2.478571,12.739286,9.146429,10.042857,30.153571,18.910946

In [32]:
ex_grouped_mean.melt() #long range

                       variable      value
0             per_capita_income   0.000000
1             per_capita_income   1.000000
2         percent_house_crowded   6.288000
3         percent_house_crowded   2.478571
4   percent_house_below_poverty  26.780000
5   percent_house_below_poverty  12.739286
6         percent_16_unemployed  18.810000
7         percent_16_unemployed   9.146429
8    percent_25_without_diploma  26.092000
9    percent_25_without_diploma  10.042857
10            percent_dependent  38.834000
11            percent_dependent  30.153571
12               hardship_index  66.640000
13               hardship_index  18.910946